body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

header {
    background-color: #8AAAE5;
    color: #333;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    color: #333;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-color: #8AAAE5;
    color: #333;
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.hero .btn {
    background-color: #8AAAE5;
    color: #FFFFFF;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: -20px;
}

section {
    padding: 60px 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#features .feature {
    margin-bottom: 40px;
}

#features .feature h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #8AAAE5;
}

#features .feature p {
    color: #333;
}

#about h2 {
    color: #8AAAE5;
}

#contact h2 {
    color: #8AAAE5;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact form label {
    margin-top: 10px;
    color: #8AAAE5;
}

#contact form input,
#contact form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

#contact form .btn {
    background-color: #8AAAE5;
    color: #FFFFFF;
    padding: 15px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}

footer {
    background-color: #8AAAE5;
    color: #333;
    text-align: center;
    padding: 20px 0;
}
